@{
    Layout = "~/Views/Shared/Layout/_AdminPage.cshtml";
}
<link href="~/css/admin/accounts.css" rel="stylesheet" />
<div class="accounts">
    <div class="search-acc">
        <div class="search-bar">
            <input type="text" class="search-txt" />
            <i class="fas fa-search"></i>
        </div>
        <div class="buttons">
        </div>
    </div>
    <div class="account-table">
        <table id="books">
            <tr>
                <th>Customer Name</th>
                <th>Customer Email</th>
            </tr>
            <tr>
                <td>Another Book</td>
                <td>another.book@example.com</td>
            </tr>
            <tr>
                <td>Adventure Time</td>
                <td>adventure.time@gmail.com</td>
            </tr>
            <tr>
                <td>Mystery Mansion</td>
                <td>mystery.mansion@yahoo.com</td>
            </tr>
            <tr>
                <td>Sci-Fi Odyssey</td>
                <td>scifi.odyssey@hotmail.com</td>
            </tr>
            <tr>
                <td>Romantic Sunset</td>
                <td>romantic.sunset@gmail.com</td>
            </tr>
            <tr>
                <td>Fantasy Dreams</td>
                <td>fantasy.dreams@yahoo.com</td>
            </tr>
            <tr>
                <td>Historical Journey</td>
                <td>historical.journey@gmail.com</td>
            </tr>
            <tr>
                <td>Thriller Express</td>
                <td>thriller.express@hotmail.com</td>
            </tr>
            <tr>
                <td>Another Book</td>
                <td>another.book@example.com</td>
            </tr>
            <tr>
                <td>Adventure Time</td>
                <td>adventure.time@gmail.com</td>
            </tr>
            <tr>
                <td>Mystery Mansion</td>
                <td>mystery.mansion@yahoo.com</td>
            </tr>
            <tr>
                <td>Sci-Fi Odyssey</td>
                <td>scifi.odyssey@hotmail.com</td>
            </tr>
            <tr>
                <td>Romantic Sunset</td>
                <td>romantic.sunset@gmail.com</td>
            </tr>
            <tr>
                <td>Fantasy Dreams</td>
                <td>fantasy.dreams@yahoo.com</td>
            </tr>
            <tr>
                <td>Historical Journey</td>
                <td>historical.journey@gmail.com</td>
            </tr>
            <tr>
                <td>Thriller Express</td>
                <td>thriller.express@hotmail.com</td>
            </tr>
            <tr>
                <td>Another Book</td>
                <td>another.book@example.com</td>
            </tr>
            <tr>
                <td>Adventure Time</td>
                <td>adventure.time@gmail.com</td>
            </tr>
            <tr>
                <td>Mystery Mansion</td>
                <td>mystery.mansion@yahoo.com</td>
            </tr>
            <tr>
                <td>Sci-Fi Odyssey</td>
                <td>scifi.odyssey@hotmail.com</td>
            </tr>
            <tr>
                <td>Romantic Sunset</td>
                <td>romantic.sunset@gmail.com</td>
            </tr>
            <tr>
                <td>Fantasy Dreams</td>
                <td>fantasy.dreams@yahoo.com</td>
            </tr>
            <tr>
                <td>Historical Journey</td>
                <td>historical.journey@gmail.com</td>
            </tr>
            <tr>
                <td>Thriller Express</td>
                <td>thriller.express@hotmail.com</td>
            </tr>
            <tr>
                <td>Another Book</td>
                <td>another.book@example.com</td>
            </tr>
            <tr>
                <td>Adventure Time</td>
                <td>adventure.time@gmail.com</td>
            </tr>
            <tr>
                <td>Mystery Mansion</td>
                <td>mystery.mansion@yahoo.com</td>
            </tr>
            <tr>
                <td>Sci-Fi Odyssey</td>
                <td>scifi.odyssey@hotmail.com</td>
            </tr>
            <tr>
                <td>Romantic Sunset</td>
                <td>romantic.sunset@gmail.com</td>
            </tr>
            <tr>
                <td>Fantasy Dreams</td>
                <td>fantasy.dreams@yahoo.com</td>
            </tr>
            <tr>
                <td>Historical Journey</td>
                <td>historical.journey@gmail.com</td>
            </tr>
            <tr>
                <td>Thriller Express</td>
                <td>thriller.express@hotmail.com</td>
            </tr>
        </table>
    </div>
</div>