@{
    Layout = "~/Views/Shared/Layout/_AdminPage.cshtml";
}
@model BookHub_Group5.Models.AddBooksViewModel;

<link href="~/css/admin/addbooks.css" rel="stylesheet" />

<div class="add-books">
    <div class="title">
        <h2>ADD BOOK INFORMATION</h2>
    </div>
    <form method="post" asp-controller="Admin" asp-action="Add" enctype="multipart/form-data">
        <div class="book-body">
            <div class="book-image">
                <div class="image-file">
                    <img id="coverImagePreview" src="" class="add-img" />
                    <input type="file" name="CoverImage" class="file-upload" onchange="previewImage(this)" />
                </div>
                <div class="image-info">
                    <div class="information">
                        <label class="info-lbl">Name of Book :</label>
                        <input type="text" class="info-txt" asp-for="booktitle" />
                    </div>
                    <div class="information">
                        <label class="info-lbl">Book Author :</label>
                        <input type="text" class="info-txt" asp-for="author" />
                    </div>
                    <div class="information">
                        <label class="info-lbl">Book Price :</label>
                        <input type="text" class="info-txt" asp-for="price" />
                    </div>
                </div>
            </div>
            <div class="book-details">
           
                <div class="information">
                    <label class="info-lbl">Genre :</label>
                    <input type="text" class="info-txt" asp-for="genre" />
                </div>
                <div class="information">
                    <label class="info-lbl">Release Year :</label>
                    <input type="text" class="info-txt" asp-for="publicationYear" />
                </div>
                <div class="information desc">
                    <label class="info-lbl desc-lbl">Description :</label>
                    <textarea class="info-txt" rows="5" asp-for="description"></textarea>
                </div>
                <div class="information">
                    <label class="info-lbl">Book File :</label>
                    <input type="file" name="BookFile" class="file-upload" />
                </div>
                <div class="book-buttons">
                    <button type="submit" class="book-btn"><i class='bx bxs-book-heart'></i>Add Book</button>
@*                     <button class="book-btn">Cancel</button>
 *@
                    <a asp-action="Books" asp-controller="Admin" class="book-btn">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
    <script>
        function previewImage(input) {
            var preview = document.getElementById('coverImagePreview');
            var file = input.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        var successMessage = "@TempData["SuccessMessage"]";
        if (successMessage) {
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: successMessage,
            });
        }

        var errorMessage = "@TempData["ErrorMessage"]";
        if (errorMessage) {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: errorMessage,
            });
        }
    </script>
