@{
    Layout = "~/Views/Shared/Layout/_AdminPage.cshtml";
}
<link href="~/css/admin/DashBoard.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<div class="dashboard">
    
       @*  <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">
                <h3>@ViewBag.TotalSales</h3>
                <p>Total Sales</p>
                </div>
                <div class="icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
             
            </div>
        </div> *@

        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                <h3>&#8369;@ViewBag.TotalSales</h3>
                <p>Total Sales</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
            </div>
        </div>
     
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-orange">
                <div class="inner">
                <h3>@ViewBag.TotalBooks</h3>
                <p> Total Ebook </p>
                </div>
                <div class="icon">
                <i class="fas fa-book" aria-hidden="true"></i>

@*                     <i class="fa fa-user-plus" aria-hidden="true"></i>

 *@                </div>
            </div>
        </div>
    