.books {
    height: 100%;
    width: 100%;
}

.search-book {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
}
.modal-content {
    z-index: 1050 !important;

}
    .search-book .search-bar {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
    }

.search-bar .search-txt {
    flex: 2;
    height: 100%;
    border: 1px solid gray;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right-color: transparent;
    font-size: 18px;
    padding: 10px 20px;
}

.search-bar i {
    height: 100%;
    flex: .3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: #fff;
    border-left-color: transparent;
    border: 1px solid gray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-book .buttons {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

    .search-book .buttons .btn-book {
        padding: 10px 20px;
        margin: 0 10px;
        border-radius: 10px;
        background-color: #3D351E;
        color: #fff;
        border-color: transparent;
        font-size: 18px;
        font-family: 'Times New Roman';
        transition: 0.3s all ease;
    }

        .search-book .buttons .btn-book a {
            color: #fff;
            height: 100%;
         
            display:flex;
            align-items:center;
        }

            .search-book .buttons .btn-book a i {
                margin: 0 10px 0 0;
            }

        .search-book .buttons .btn-book:hover {
            background-color: #706233;
            
        }

.book-table {
    flex: 1;
    height: calc(100% - 70px);
    padding: 10px;
    overflow-y: auto;
}

    .book-table::-webkit-scrollbar {
        width: 10px;
    }

    .book-table::-webkit-scrollbar-thumb {
        background-color: #706233;
        border-radius: 6px;
    }

    .book-table::-webkit-scrollbar-track {
        background-color: transparent;
    }

.modal-body, .modal-footer {
    background-color: #706233;
}
.book-body{

    height:650px;
}
.image-file{
    height:150px;
    padding:10px;
    display:flex;
    align-items:center;
    
}
.image-file img {
    height: 100%;
     width: 200px;
    margin-right:10px;
    background-color:#fff;
}
.image-file .file-upload{
    color:#fff;
    
       padding:5px 10px;
       cursor:pointer;
}
.information{
    height:60px;

    padding:5px 10px;
}
.information .info-txt{
    width:100%;
    height:100%;
    padding:10px 20px;
    border-radius:10px;
    resize:none;
    font-weight:bold;
    color:#000;
}
.desc{
    height:calc(100% - 510px);
    
}
.book-btn{
    padding:10px 20px;
    font-size:18px;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    table td, table th {
        border: 1px solid #ddd;
        padding: 15px;
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    table tr:hover {
        background-color: #ddd;
    }

    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #706233;
        color: white;
        text-align: center;
    }
