
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    width: 100%;
    background-color: #fff;
    overflow-y:auto;
}

#head {
    width: 100%;
    height: 100vh;
    overflow-y:auto;
}
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #706233;
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #fff;
    position:fixed;
    top:0;
    z-index:99;
    width:100%;

}

    header .header-nav {
        flex: .5;
        height: 100%;
        color: black;
    }

        header .header-nav nav {
            height: 100%;
            width: 100%;
        }

        header .header-nav ul {
            display: flex;
            align-items: center;
            height: 100%;
        }

            header .header-nav ul li {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.5s all ease;
            }

                header .header-nav ul li:hover {
                    background-color: #706233;
                }

                    header .header-nav ul li:hover a {
                        color: #fff;
                    }

                header .header-nav ul li a {
                    color: #000;
                    font-size: 18px;
                    font-family: 'Times New Roman';
                    padding: 20px;
                }

    header .header-logo {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
    }

        header .header-logo img {
            height: 100%;
            width: 100px;
            padding: 10px;
            margin: 0 20px;
        }

        header .header-logo h2 {
            font-size: 35px;
            font-family: 'Times New Roman';
            color: #000;
        }

            header .header-logo h2 span {
                color: #706233;
            }

    header .header-login {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    header .header-login a{
        margin-right:60px;
    }

        header .header-login i {
            display:flex;
            margin-top:5px;
                 align-items: center;
        justify-content: center;
        padding:10px;
            cursor: pointer;
            font-size: 25px;
            border-radius: 50%;
            color:#000;
            transition:0.3s all ease;
        }
header .header-login i:hover{
    color:#fff;
    background-color:#706233;
}

.main {
    margin-top:80px;
    height: calc(100% - 80px);
    width: 100%;
    position: relative;
}

.bg-img {
    height: 80vh;
    width: 100%;
    position: relative;
    border-bottom: 5px solid #FAE769;
    border-top: 5px solid #FAE769;
}

    .bg-img img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        filter: brightness(50%);
    }

    .bg-img .tagline {
        height: 40vh;
        width: 1000px;
        position: absolute;
        top: 35%;
        left: 5%;
        color: #fff;
    }

        .bg-img .tagline .lines1 {
            height: 70px;
            display: flex;
            align-items: center;
        }

        .bg-img .tagline .lines2 {
            width: 70%;
            height: 150px;
            padding-top: 20px;
        }

        .bg-img .tagline .lines3 {
            height: calc(100% - 220px);
            display: flex;
            align-items: center;
        }

        .bg-img .tagline h2 {
            color: #fff;
            font-size: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
        }

        .bg-img .tagline p {
            font-size: 20px;
            letter-spacing: 2px;
            font-family: Arial;
            line-height: 30px;
            text-align: justify;
        }

        .bg-img .tagline button {
            width: 200px;
            background-color: #706233;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            cursor: pointer;
            font-size: 18px;
            height: 60px;
            transition: 0.5s all ease;
            border: 1px solid #fff;
            color: #fff;
        }

            .bg-img .tagline button:hover {
                background-color: #FAE7C9;
                color: #000;
            }

        .bg-img .tagline i {
            font-size: 20px;
            padding: 5px 15px 5px 0;
        }

.mySlides {
    display: none;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


#body {
   height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.category{
    height:100%;
    width:100%;
  
}
.category .category-head{
       
      display:flex;
      align-items:center;
      justify-content:center;
      height:100px;
}
.category .category-head .view{    
      height:100%;
       padding:0 20px;
}
.category .category-head .view h2{
    text-align:center;
    font-size:50px;
    color:#706233;
}
.category .category-head .view a{
      display:flex;
      align-items:center;
      justify-content:center;
   padding:5px;
    font-size:15px;
    letter-spacing:1px;
    font-family:'Times New Roman';
    transition:0.3s all ease;
    color:#000;
}
.category .category-head .view a:hover{
    text-decoration:underline;
    cursor:pointer;
}
.category-list{
    height:calc(100% - 100px);
    display:flex;
    
    justify-content:center;
    padding:0 60px;
}
.slide-container {
    width: 100%;
    width: 100%;
    padding: 40px 0;
    height: 500px;
    margin-top: 50px;   
}

.slide-content {
    overflow: hidden;
    border-radius: 25px;
    width:100%;
    height:100%;
    padding:20px 0;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
    border: 1px solid #ddd;
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.75);
}


.image-content {
     height:70%;
     width:100%;
}

.card-image {
  height:100%;
  width:100%;
}
.card-image  img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-top-left-radius: 25px;
      border-top-right-radius: 25px;

}

.card-content {
    height: calc(100% - 70%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.card-content .title{
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:5px;
    overflow-y:auto;
   
}
.card-content .title h1{
    font-size:20px;
    color:#706233;
    text-align: center;
}
.card-content .author{
      display:flex;
    align-items:center;
    justify-content:center;
    height:40px;
}
.card-content .author h3{
    font-size:20px;
    font-family:'Times New Roman';
    font-weight:400;
}
.card-content .price{
      display:flex;
    align-items:center;
    justify-content:center;
    height:calc(100% - 100px);

  
}
.card-content .price span{
    font-size:15px;
    color:red;
}
.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .button:hover {
        background: #265DF2;
    }

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

    .swiper-navBtn:hover {
        color: #4070F4;
    }

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        font-size: 35px;
    }

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}


#foot{
    height:60vh;
}
.footer{
    height:250px;
    background-color:#FAE7C9;
}
.footer .foot-head{
    height:80px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
}
.footer .foot-p{
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;

}
.footer .foot-p p{
    font-size:23px;
    text-align:center;
}
.footer .foot-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    height:calc(100% - 180px);
}
.footer .foot-btn button{
    padding:10px 20px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    background-color: #706233;
    color:#fff;
   transition:0.3s all ease;
   border-color:transparent;
}
.footer .foot-btn button:hover{
    background-color:#fff;
    color:#000;
    border-color: black;
}

.foot-contact{
    display:flex;

    height:180px;
}
.foot-contact .contact-info{
    width:50%;
    display:flex;
    justify-content:flex-end;
    padding:0 20px;

}

.foot-contact .contact-info .info, .foot-contact .social .info{
    height:100%;
    width:100%;
}
.foot-contact .contact-info .info h2{
    height:50px;
      display:flex;
      align-items:center;
    justify-content:flex-end;
    width:100%;
    letter-spacing:1px;
    font-size:25px;
}
.foot-contact .contact-info .info p{
     height:50px;

      display:flex;
      align-items:center;
    justify-content:flex-end;
    width:100%;
   
}
.foot-contact .contact-info .info p i{
     margin-right:10px;
    font-size:20px;
    color:#706233;
}

.foot-contact .social {
    width: 50%;
    display: flex;
    padding: 0 20px;
    border-left: 2px solid black;
}
.foot-contact .social .info h2{
     height:50px;
      display:flex;
      align-items:center;
   
    width:100%;
    letter-spacing:1px;
    font-size:25px;
}
.foot-contact .social .info p{
     height:50px;
      display:flex;
      align-items:center;
    width:100%;
}
.foot-contact .social .info p i{
    margin-right:10px;
    font-size:20px;
      color:#706233;
}

.foot-last {
    height: calc(100% - 430px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #706233;
}
.foot-last span{
     font-weight:bold;
    font-size:14px;
    letter-spacing:1px;     
       color:#fff;
}


#assignmentContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    width: 500px;
    height: 550px;
    display: none;
}
.contact-head{
    display:flex;
    align-items:center;
    justify-content:center;
    height:80px;
    font-size:25px;
    border-bottom:2px solid #ddd;
    color: #706233;
}
.contact{
    height:50px;
    display:flex;
    align-items:center;
    padding:0 20px;
}
.contact h3{
    margin-right:20px;
    font-size:22px;
}
.contact p{
    font-weight:bold;
    font-size:18px;
    letter-spacing:2px;
}
.email{
    height:calc(100% - 130px);
  
    
}
.email-info {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.email-info span{
    font-size:20px;
}
.email-info span:first-child{
    margin-right:20px;
    font-weight:bold
}
.email-sender{
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:10px 20px;
}
.email-sender input{
    height:100%;
    width:100%;
    border:1px solid #717171;
    padding:5px 10px;
    font-size:16px;
}
.email-content{
    height:160px;
    padding:10px 20px;
}
.email-content textarea{
    height:100%;
    width:100%;
    resize:none;
      border:1px solid #717171;
        padding:10px;
}
.email-button {
    height: calc(100% - 350px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.email-button button{
    padding:10px 20px;
    margin-right:10px;
    border-color:transparent;
    cursor:pointer;
    transition:0.3s all ease;
}
.email-button button:hover{
    opacity:0.5;
}
.email-button button:first-child{
    background-color:#6E93f7;
    color:#fff;
}
.email-button button:nth-child(2){
    background-color:red;
    color:#fff;
}
#bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: 999;
    display: none;
}