
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    width: 100%;
    background-color: #fff;
    overflow-y:auto;
}

#head {
    width: 100%;
    height: 100vh;
    overflow-y:auto;
}
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #706233;
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #fff;

}

    header .header-nav {
        flex: .5;
        height: 100%;
        color: black;
    }

        header .header-nav nav {
            height: 100%;
            width: 100%;
        }

        header .header-nav ul {
            display: flex;
            align-items: center;
            height: 100%;
        }

            header .header-nav ul li {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.5s all ease;
            }

                header .header-nav ul li:hover {
                    background-color: #706233;
                }

                    header .header-nav ul li:hover a {
                        color: #fff;
                    }

                header .header-nav ul li a {
                    color: #000;
                    font-size: 18px;
                    font-family: 'Times New Roman';
                    padding: 20px;
                }

    header .header-logo {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
    }

        header .header-logo img {
            height: 100%;
            width: 100px;
            padding: 10px;
            margin: 0 20px;
        }

        header .header-logo h2 {
            font-size: 35px;
            font-family: 'Times New Roman';
        }

            header .header-logo h2 span {
                color: #706233;
            }

    header .header-login {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

        header .header-login .fa-shopping-cart {
            margin-right: 50px;
        }

        header .header-login i {
            padding: 10px;
            cursor: pointer;
            font-size: 25px;
            border-radius: 50%;
            color:#000;
        }

.main {
    height: calc(100% - 80px);
    width: 100%;
    position: relative;
}

.bg-img {
    height: 80vh;
    width: 100%;
    position: relative;
    border-bottom: 5px solid #FAE769;
    border-top: 5px solid #FAE769;
}

    .bg-img img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        filter: brightness(50%);
    }

    .bg-img .tagline {
        height: 40vh;
        width: 1000px;
        position: absolute;
        top: 35%;
        left: 5%;
        color: #fff;
    }

        .bg-img .tagline .lines1 {
            height: 70px;
            display: flex;
            align-items: center;
        }

        .bg-img .tagline .lines2 {
            width: 70%;
            height: 150px;
            padding-top: 20px;
        }

        .bg-img .tagline .lines3 {
            height: calc(100% - 220px);
            display: flex;
            align-items: center;
        }

        .bg-img .tagline h2 {
            color: #fff;
            font-size: 50px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
        }

        .bg-img .tagline p {
            font-size: 20px;
            letter-spacing: 2px;
            font-family: Arial;
            line-height: 30px;
            text-align: justify;
        }

        .bg-img .tagline button {
            width: 200px;
            background-color: #706233;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            cursor: pointer;
            font-size: 18px;
            height: 60px;
            transition: 0.5s all ease;
            border: 1px solid #fff;
            color: #fff;
        }

            .bg-img .tagline button:hover {
                background-color: #FAE7C9;
                color: #000;
            }

        .bg-img .tagline i {
            font-size: 20px;
            padding: 5px 15px 5px 0;
        }

.mySlides {
    display: none;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


#body {
   height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.category{
    height:100%;
    width:100%;
  
}
.category .category-head{
       
      display:flex;
      align-items:center;
      justify-content:center;
      height:100px;
}
.category .category-head .view{    
      height:100%;
       padding:0 20px;
}
.category .category-head .view h2{
    text-align:center;
    font-size:50px;
    color:#706233;
}
.category .category-head .view a{
      display:flex;
      align-items:center;
      justify-content:center;
   padding:5px;
    font-size:15px;
    letter-spacing:1px;
    font-family:'Times New Roman';
    transition:0.3s all ease;
    color:#000;
}
.category .category-head .view a:hover{
    text-decoration:underline;
    cursor:pointer;
}
.category-list{
    height:calc(100% - 100px);
    display:flex;
    
    justify-content:center;
    padding:0 60px;
}
.slide-container {
    width: 100%;
    width: 100%;
    padding: 40px 0;
    height: 500px;
    margin-top: 50px;   
}

.slide-content {
    overflow: hidden;
    border-radius: 25px;
    width:100%;
    height:100%;
    padding:20px 0;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
    border: 1px solid #ddd;
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.75);
}


.image-content {
     height:70%;
     width:100%;
}

.card-image {
  height:100%;
  width:100%;
}
.card-image  img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-top-left-radius: 25px;
      border-top-right-radius: 25px;

}

.card-content {
    height: calc(100% - 70%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.card-content .title{
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:5px;
    overflow-y:auto;
   
}
.card-content .title h1{
    font-size:20px;
    color:#706233;
    text-align: center;
}
.card-content .author{
      display:flex;
    align-items:center;
    justify-content:center;
    height:40px;
}
.card-content .author h3{
    font-size:20px;
    font-family:'Times New Roman';
    font-weight:400;
}
.card-content .price{
      display:flex;
    align-items:center;
    justify-content:center;
    height:calc(100% - 100px);

  
}
.card-content .price span{
    font-size:15px;
    color:red;
}
.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .button:hover {
        background: #265DF2;
    }

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

    .swiper-navBtn:hover {
        color: #4070F4;
    }

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        font-size: 35px;
    }

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}



footer {
    color: #fff;
    width: 100%;
    background: #000;
   
}

.main-content {
    display: flex;

}

    .main-content .box {
        flex-basis: 50%;
        padding: 10px 20px;
        
        height:270px;
    }

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;

}

    .box .content:before {
        position: absolute;
        content: '';
        top: -10px;
        height: 2px;
        width: 100%;
        background: #FFF;
    }

    .box .content:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 15%;
        background: #3D351E;
        top: -10px;
    }

.left .content p {
    text-align: justify;
    font-size:18px;
  
}

.left .content .social {
    margin: 20px 0 0 0;
}

    .left .content .social a {
        padding: 0 2px;
        
    }

        .left .content .social a span {
            height: 40px;
            width: 40px;
            background: #fff;
            line-height: 40px;
            text-align: center;
            font-size: 18px;
            border-radius: 5px;
            transition: 0.3s;
            color:#000;
        }

            .left .content .social a span:hover {
               background: #FAE7C9;
            }

.center .content .fas {
    font-size: 1.4375rem;
    background: #FFF;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    color:#000;
}

    .center .content .fas:hover {
        background: #FAE7C9;
    }

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #fff;
}

.right form .msg {
    margin-top: 10px;
}

.right form input, .right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #fff;
    padding-left: 10px;
    border: 1px solid #222222;
    color: #000;
    resize:none;
}

    .right form input:focus,
    .right form textarea:focus {
        outline-color: #3498db;
    }

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

    .right form .btn button {
        height: 50px;
        width: 100%;
        border: none;
        outline: none;
        background: #3D351E;
        font-size: 1.0625rem;
        font-weight: 500;
        cursor: pointer;
        transition: .3s;
        color:#fff;
        border-radius:10px;
    }

        .right form .btn button:hover {
            background: #FAE7C9;
            color:#000;
        }

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #FAE7C9;
}

    .bottom center span {
        color: #656565;
    }

    .bottom center a {
        color: #000;
        text-decoration: none;
    }

        .bottom center a:hover {
            text-decoration: underline;
        }

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

        .main-content .box {
            margin: 5px 0;
        }
}