
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    width: 100%;
    background-color: #fff;
    overflow-y:auto;
}

#head {
    width: 100%;
    height: 100vh;
    overflow-y:auto;
}
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #706233;
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #fff;
    position:fixed;
    top:0;
    z-index:99;
    width:100%;

}

    header .header-nav {
        flex: .5;
        height: 100%;
        color: black;
    }

        header .header-nav nav {
            height: 100%;
            width: 100%;
        }

        header .header-nav ul {
            display: flex;
            align-items: center;
            height: 100%;
        }

            header .header-nav ul li {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.5s all ease;
            }

                header .header-nav ul li:hover {
                    background-color: #706233;
                }

                    header .header-nav ul li:hover a {
                        color: #fff;
                    }

                header .header-nav ul li a {
                    color: #000;
                    font-size: 18px;
                    font-family: 'Times New Roman';
                    padding: 20px;
                }

    header .header-logo {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
    }

        header .header-logo img {
            height: 100%;
            width: 100px;
            padding: 10px;
            margin: 0 20px;
        }

        header .header-logo h2 {
            font-size: 35px;
            font-family: 'Times New Roman';
            color: #000;
        }

            header .header-logo h2 span {
                color: #706233;
            }

    header .header-login {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    header .header-login a{
        margin-right:60px;
    }

        header .header-login i {
            display:flex;
            margin-top:5px;
                 align-items: center;
        justify-content: center;
        padding:10px;
            cursor: pointer;
            font-size: 25px;
            border-radius: 50%;
            color:#000;
            transition:0.3s all ease;
        }
header .header-login i:hover{
    color:#fff;
    background-color:#706233;
}
.product {
    height: calc(100% - 80px);
    margin-top: 80px;
    display: flex;
    border-top: 5px solid #FAE769;
}
.product .left{
    width:50%;
    padding :50px 30px 50px 70px;
}
.product .left img{
    width:100%;
    height:100%;
    object-fit:fill;
    border-radius:20px;
}

.product .right{
    width:50%;
   padding :50px 50px 50px 30px;
}
.product .right .info{
    height:100%;
    width:100%;

}
.product .right .info .title{
   min-height:50px;
   max-height:150px;
    padding:0 10px;

}
.product .right .info .title h2{
    font-size:35px;
    color:#706233;
}
.product .right .info .genre{
    height:50px;
    display:flex;
    align-items:center;
    padding: 0 10px;
}
.product .right .info .genre span{
    font-size:23px;
    font-weight:bold;
}
.product .right .info .price{
    height:50px;
    display:flex;
    align-items:center;
    padding: 0 10px;
}
.product .right .info .price span{
    font-size:23px;
    font-weight:bold;
}
.product .right .info .description{
    height:300px;
    padding:10px;
    letter-spacing:1px;
}
.product .right .info .purchase-button{
    height:calc(100% - 550px);
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding:0 20px;
}
.product .right .info .purchase-button button{
    padding:15px 30px;
    font-size:17px;
    border-radius:10px;
    border-color:transparent;
    background-color:#00d90b;
    cursor:pointer;
    transition:0.3s all ease;
}
.product .right .info .purchase-button button:hover{
    opacity:0.5;

}
#assignmentContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    width: 500px;
    height: 550px;
    display: none;
}
.contact-head{
    display:flex;
    align-items:center;
    justify-content:center;
    height:80px;
    font-size:25px;
    border-bottom:2px solid #ddd;
    color: #706233;
}
.contact{
    height:50px;
    display:flex;
    align-items:center;
    padding:0 20px;
}
.contact h3{
    margin-right:20px;
    font-size:22px;
}
.contact p{
    font-weight:bold;
    font-size:18px;
    letter-spacing:2px;
}
.email{
    height:calc(100% - 130px);
  
    
}
.email-info {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.email-info span{
    font-size:20px;
}
.email-info span:first-child{
    margin-right:20px;
    font-weight:bold
}
.email-sender{
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:10px 20px;
}
.email-sender input{
    height:100%;
    width:100%;
    border:1px solid #717171;
    padding:5px 10px;
    font-size:16px;
}
.email-content{
    height:160px;
    padding:10px 20px;
}
.email-content textarea{
    height:100%;
    width:100%;
    resize:none;
      border:1px solid #717171;
        padding:10px;
}
.email-button {
    height: calc(100% - 350px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.email-button button{
    padding:10px 20px;
    margin-right:10px;
    border-color:transparent;
    cursor:pointer;
    transition:0.3s all ease;
}
.email-button button:hover{
    opacity:0.5;
}
.email-button button:first-child{
    background-color:#6E93f7;
    color:#fff;
}
.email-button button:nth-child(2){
    background-color:red;
    color:#fff;
}
#bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: 999;
    display: none;
}