
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

#head {
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #fff;
}

    header .header-nav {
        flex: .5;
        height: 100%;
        color: black;
    }

        header .header-nav nav {
            height: 100%;
            width: 100%;
        }

        header .header-nav ul {
            display: flex;
            align-items: center;
            height: 100%;
        }

            header .header-nav ul li {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.5s all ease;
            }

                header .header-nav ul li:hover {
                    background-color: #706233;
                }

                    header .header-nav ul li:hover a {
                        color: #fff;
                    }

                header .header-nav ul li a {
                    color: #000;
                    font-size: 18px;
                    font-family: 'Times New Roman';
                    padding: 20px;
                }

    header .header-logo {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
    }

        header .header-logo img {
            height: 100%;
            width: 100px;
            padding: 10px;
            margin: 0 20px;
        }

        header .header-logo h2 {
            font-size: 35px;
            font-family: 'Times New Roman';
            color:#000;
        }

            header .header-logo h2 span {
                color: #706233;
            }

    header .header-login {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    header .header-login a{
        margin-right:60px;
    }

        header .header-login i {
            display:flex;
            margin-top:5px;
                 align-items: center;
        justify-content: center;
        padding:10px;
            cursor: pointer;
            font-size: 25px;
            border-radius: 50%;
            color:#000;
            transition:0.3s all ease;
        }
header .header-login i:hover{
    color:#fff;
    background-color:#706233;
}
.login {
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0 0 0;
}

.login-page {
    height: 90%;
    width: 600px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #FAE7C9;
    perspective: 1000px;
    position: relative;
}

.inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flipped .inner {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-page .front .head {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .login-page .front .head h2 {
        font-size: 90px;
        font-family: 'Times New Roman';
        font-weight: bold;
    }

        .login-page .front .head h2 span {
            color: #706233;
        }

.front .form {
    height: calc(100% - 120px);
    width: 100%;
}

    .front .form .login-inputs {
        height: 280px;
        width: 100%;
        padding: 50px 50px 10px 50px;
    }

        .front .form .login-inputs .inputs {
            display: flex;
            align-items: end;
            justify-content: center;
            margin: 20px auto;
            border-color: transparent;
            border-radius: 10px;
            width: 100%;
            height: 50px;
            padding: 10px 20px;
        }

        .front .form .login-inputs button {
            width: 100%;
            height: 50px;
            border-radius: 10px;
            background-color: #3D351E;
            color: #fff;
            border-color: transparent;
            transition: 0.3s all ease;
            cursor: pointer;
            font-size: 20px;
            font-family: 'Times New Roman';
            letter-spacing: 1px;
        }

            .front .form .login-inputs button:hover {
                background-color: #706233;
            }

    .front .form .login-links {
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 50px;
    }

        .front .form .login-links a {
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            color: #000;
        }

            .front .form .login-links a:hover {
                border-bottom: 1px solid purple;
                color: blueviolet;
            }

        .front .form .login-links input {
            margin-right: 10px;
        }


    .front .form .login-google {
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
    }

    .front .form .login-sign {
        height: calc(100% - 390px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
    }

        .front .form .login-sign span {
            margin-right: 10px;
            font-size: 20px;
            font-family: 'Times New Roman';
        }

            .front .form .login-sign span a {
                font-weight: bold;
                font-family: 'Times New Roman';
                padding: 5px;
                transition: 0.5s all ease;
            }

                .front .form .login-sign span a:hover {
                    border-bottom: 1px solid purple;
                    transition: 0.5s all ease;
                }


/*SIGNIN*/

.login-page .back .head {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

    .login-page .back .head h2 {
        font-size: 60px;
        font-family: 'Times New Roman';
        font-weight: bold;
    }

        .login-page .back .head h2 span {
            color: #706233;
        }

.back {
    transform: rotateY(180deg);
}

    .back .form {
        height: calc(100% - 80px);
        width: 100%;
    }

        .back .form .login-inputs {
            height: 380px;
            padding: 20px 20px 0 20px;
            width: 100%;
        }

            .back .form .login-inputs .inputs {
                display: flex;
                align-items: end;
                justify-content: center;
                margin: 10px 0;
                border-color: transparent;
                border-radius: 10px;
                width: 100%;
                height: 50px;
                padding: 10px 20px;
            }

            .back .form .login-inputs span {
                padding: 10px 5px;
                font-size: 15px;
                letter-spacing: 1px;
            }

input.chk-bx {
    margin-right: 10px;
}

.back .form .login-inputs button:hover {
    background-color: #706233;
}

.back .form .login-links {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 15px;
    justify-content: space-between;
}

    .back .form .login-links button {
        width: 100%;
        border-radius: 10px;
        color: #fff;
        transition: 0.3s all ease;
        background-color: #3D351E;
        border-color: transparent;
        cursor: pointer;
        font-size: 20px;
        font-family: 'Times New Roman';
        letter-spacing: 1px;
        padding: 10px 20px;
    }

        .back .form .login-links button:hover {
            background-color: #706233;
        }

.back .form .login-sign {
    height: calc(100% - 450px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

    .back .form .login-sign span {
        margin-right: 10px;
        font-size: 20px;
        font-family: 'Times New Roman';
    }

        .back .form .login-sign span a {
            font-weight: bold;
            font-family: 'Times New Roman';
            padding: 5px;
            transition: 0.5s all ease;
        }

            .back .form .login-sign span a:hover {
                border-bottom: 1px solid purple;
                transition: 0.5s all ease;
            }

.button {
    width: 100%;
    height: 50px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    margin: 5px;
    transition: 0.3s all ease;
    border: 1px solid #ddd;
}

.google-logo {
    margin-right: 20px;
}

.google-signin:hover {
    background-color: #706233;
    color: #fff;
}



#assignmentContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    width: 500px;
    height: 550px;
    display: none;
}
.contact-head{
    display:flex;
    align-items:center;
    justify-content:center;
    height:80px;
    font-size:25px;
    border-bottom:2px solid #ddd;
    color: #706233;
}
.contact{
    height:50px;
    display:flex;
    align-items:center;
    padding:0 20px;
}
.contact h3{
    margin-right:20px;
    font-size:22px;
}
.contact p{
    font-weight:bold;
    font-size:18px;
    letter-spacing:2px;
}
.email{
    height:calc(100% - 130px);
  
    
}
.email-info {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.email-info span{
    font-size:20px;
}
.email-info span:first-child{
    margin-right:20px;
    font-weight:bold
}
.email-sender{
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:10px 20px;
}
.email-sender input{
    height:100%;
    width:100%;
    border:1px solid #717171;
    padding:5px 10px;
    font-size:16px;
}
.email-content{
    height:160px;
    padding:10px 20px;
}
.email-content textarea{
    height:100%;
    width:100%;
    resize:none;
      border:1px solid #717171;
        padding:10px;
}
.email-button {
    height: calc(100% - 350px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.email-button button{
    padding:10px 20px;
    margin-right:10px;
    border-color:transparent;
    cursor:pointer;
    transition:0.3s all ease;
}
.email-button button:hover{
    opacity:0.5;
}
.email-button button:first-child{
    background-color:#6E93f7;
    color:#fff;
}
.email-button button:nth-child(2){
    background-color:red;
    color:#fff;
}
#bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: 999;
    display: none;
}